@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');
    
    .flex-container {
      display: flex;
      flex-direction: row;
    }
    
    #navbar {
      justify-content: flex-end;
    }

    .flex-container > div {
      background-color: #FFFFFF;
      padding: 10px;
      
    }

    #logo {
      width: 200px;
      height: auto;
    }

    .starlightkids {
      width: 335px;
      height: auto;
      padding-left:90px;
      padding-right:60px;
      padding-top:20px;
    }

    .header {
      
      padding-bottom:20px;
      padding-top:20px;
      position:relative;
      display:inline-block;

    }

    .headertext{
      text-align: center;
      color: #6C3483;
      font-family: verdana;
      font-weight: 900;
      font-size: 30px;
      left: 315px;
      bottom:60px;
      position:absolute;


    }

    #middle {
      justify-content: center;
      align-items: center;
    }

    @media (max-width: 800px) {
      .flex-container {
        flex-direction: column;
      }
    }

*   .button {
      border: none;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
      font-family: verdana;
      font-weight: 900;
      font-size: 20px;
    }

    .button1 {
      background-color: white; 
      color: #6C3483;
      border: 0px;
    }

    .button1:hover {
      background-color: #6C3483;
      color: #FFFFFF;
    }

    p.a {
      padding-top: 35px;
      font-family: 'Karla', sans-serif;
      font-weight: 900;
      font-size: 15px;
      color: #0c0c0c;
      padding-right:50px;
    }

    #ourpeople {
      
     text-align: center;
      color: #6C3483;
      font-family: verdana;
      font-weight: 900;
      font-size: 30px;
    }

    #teamwork {
      width: 40%;
      height: auto;
      align-content: space-around;
    }

