    .flex-container {
      display: flex;
      flex-direction: row;
    }
    #navbar {
      justify-content: flex-end;
    }

    #logo {
      width: 20%;
      height: auto;
    }

    .flex-container > div {
      background-color: #FFFFFF;
    }

    #middle {
      justify-content: center;
      align-items: left;
    }

    @media (max-width: 1000px) {
      .flex-container {
        flex-direction: column;
      }
    }

    .button {
      border: none;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
      font-family: verdana ;
      font-weight: 900;
      font-size: 18px;
    }

    .button1 {
      background-color: white; 
      color: #6C3483;
      border: 0px;
    }

    .button1:hover {
      background-color: #6C3483;
      color: #FFFFFF;
    }

    #option {
      width: 250px;
      justify-content: center;
      align-items: left;
    }
    
    input[type=text], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    div.a {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
    }

    h2.a {
      text-align: center;
      color: #6C3483;
      font-family: verdana;
    }
    