    .flex-container {
      display: flex;
      flex-direction: row;
      

    }
    #navbar {
      justify-content: flex-end;
    }

    #logo {
      width: 20%;
      height: auto;
    }
    

    #middle {
      padding-top: 30px;
      justify-content: space-around;
    }

    .flex-container > div {
      background-color: #FFFFFF;
    }

    }
    @media (max-width: 1000px) {
      .flex-container {
        flex-direction: column;
      }
    }

    .button {
      border: none;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
      font-family: verdana ;
      font-weight: 900;
      font-size: 18px;
    }

    .button1 {
      background-color: white; 
      color: #6C3483;
      border: 0px;
    }

    .button1:hover {
      background-color: #6C3483;
      color: #FFFFFF;
    }

    h1.a {
      color: #6C3483;
      font-family: Verdana;
    }

    h3.a {
      color: #6C3483;
      font-family: Verdana;
    }

    .header {
      
      padding-bottom:20px;
      padding-top:20px;
      position:relative;
      display:inline-block;

    }

    .headertext{
      text-align: center;
      color: #6C3483;
      font-family: verdana;
      font-weight: 900;
      font-size: 30px;
      left: 315px;
      bottom:60px;
      position:absolute;


    }
    