    .flex-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    #navbar {
      justify-content: flex-end;
    }

    #banner {
      justify-content: center;
      align-items: center;
    }

    #logo {
      width: 20%;
      height: auto;
    }

    #options {
      justify-content: space-around;
      
    }

    .flex-container > div {
      background-color: #FFFFFF;
    }

    #intro {
      justify-content: center;
      align-items: center;
      padding: 100px;
    }

    #title {
      text-align: center;
    }

    @media (max-width: 1000px) {
      .flex-container {
        flex-direction: column;
      }
    }

    .button {
      border: none;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
      font-family: verdana ;
      font-weight: 900;
      font-size: 18px;
    }

    .button1 {
      background-color: white; 
      color: #6C3483;
      border: 0px;
    }

    .button1:hover {
      background-color: #6C3483;
      color: #FFFFFF;
    }



    .container {
      position: relative;
      justify-content: center;
    }

    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    #bannertext {
      font-family: verdana;
      font-size: 50px;
      text-align: left;
      font-weight: bolder;
      background-color: #6C3483;
      color: #fff; 
    padding: 0.5rem;
      justify-content:left;
      align-content:left;
      position:absolute;
      bottom:-33px;
      left:2px;

  
  /* Needs prefixing */
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
    }

    .responsive {
      width: 100%;
      height: auto;
    }


    form {
      border: 3px solid #f1f1f1;
      font-family: Verdana;
    }

    .container3 {
      padding: 100px;
      font-family: verdana;
      font-weight: 900;
      font-size: 2.5vw;
      color: #6C3483;
    }

    input[type=text], input[type=submit] {
      width: 40%;
      padding: 12px;
      margin: 8px 0;
      display: block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }

    input[type=checkbox] {
      margin-top: 16px;
    }

    input[type=submit] {
      background-color: #6C3483;
      color: white;
      border: none;
    }

    input[type=submit]:hover {
      opacity: 0.8;
    }



    h1.a {
      color: #6C3483;
      font-family: verdana;
      font-size: 70px;
      text-align: center;
      padding: 100px;
    }

    h2.signup{
      font-size:25px;
      padding-bottom:10px;
    }

    p.a {
      color: #6C3483;
      font-family: 'Barlow', sans-serif;
      font-size: 25px;
      text-align: left;
    }

    