* {
      box-sizing: border-box;
    }

    .flex-container {
      display: flex;
      flex-direction: row;
      text-align: center;
      color: aliceblue;
      font-family: comic sans ms ;
    }

    .flex-container > div:nth-child(odd) {
      background-color: #8E44AD;
      padding: 10px;
      flex: 20%;
    }
    .flex-container > div:nth-child(even) {
      background-color: #6C3483;
      padding: 10px;
      flex: 20%;
    }

    .brand {
      width: 20%;
      height: auto;
    }
    /* Responsive layout - makes a one column-layout instead of two-column layout */
    @media (max-width: 800px) {
      .flex-container {
        flex-direction: column;
      }
    }
    